{% extends 'base.html.twig' %}

{% block title %}Mon compte - Apprendre et raisonner
{% endblock %}

{% block content %}
	<h1>Mon compte</h1>

	Bienvenue
	{{ (app.user.nom) }}
	<br>
	c'est ici que vous allez pouvoir gerer vos informations personnelles
	<hr>
	{# 
		Modifier mon mot de passe
		ajouter mes adresses
		gerer mes commandes #}
{% endblock %}
