{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - Apprendre et raisonner
{% endblock %}

{% block content %}
	<hr>

	<h1>Modifier mon mot de passe
	</h1>


	<hr>

	<a href="{{path('account')}}">retourner à mon compte</a>
</br>
<h1>Mon form</h1>

{% if notification %}
	<div class="alert alert-info">
		{{ notification }}</div>

{% endif %}

{{form(form)}}{% endblock %}
