body {

    position: relative;
}



.navbar-item-custom, .navbar-item-custom a {

    color: #ffff;
}

.footer-custom {

    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: aqua;
    padding-top: 25px;
    margin-top: 50px;

}

.product-item h5 {
    
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 5px;

}

.product-item {

    margin-top: 5px;
    margin-right: 300px;
    width: 100%;
}



.product-item .product-subtitle {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
    
    

}

.product-item .product-price {
    font-size: 15px;
    font-weight: bold ;

}

.product-container {

    margin-bottom: 125px;
    justify-content: flex-end;
    margin-right: 60px;
    
    
}

.product-page-price {

    font-size: 18px;
    
}

.cart-icon {

    height : 20px;
    padding-left: 20px;
}

.block-small{

   max-width: 600px;
   margin: 0 auto;
}

.form-check{

    background-color:#76c8a9;
    padding: 20px 60px;
    margin-top: 7px;
}

.col-form-label {

    font-weight: bold; 
}

.order-summary{
    background-color:#76c8a9  ;
    padding: 20px;
    margin-top: 22px;


}


